
.feeds-container {
    display: flex;
    // stlyes the flex direction and flex-wrap
    flex-flow: row wrap;
    justify-content: space-evenly;
    .card {
        // width: 30rem !important;
        margin: 0.5rem;
        // background: #006064 !important;
        .header{
            font-size: 1px !important;
            font-weight: 600 !important;
            text-align: left;
        }
    }
}
